<!DOCTYPE html>
<html>

<head>
    <title>MNIST AI Classifier</title>

    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        .container {
            width: 400px;
            margin: auto;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 0 20px, gray;
        }

        button {
            padding: 10px 20px;
            margin-top: 20px
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>AI Digit Classifier</h1>

        <input type="file" id="image">
        <br>

        <button onclick="predict()">Predict</button>

        <h2 id="result">Prediction: </h2>
    </div>

    <script>

        async function predict() {

            let fileInput = document.getElementById("image");

            if (fileInput.files.length === 0) {

                alert("Please select image first");
                return;

            }


            let formData = new FormData();

            formData.append(
                "image",
                fileInput.files[0]
            );


            let response = await fetch(
                "/predict",
                {
                    method: "POST",
                    body: formData
                }
            );


            let data = await response.json();


            document.getElementById(
                "result"
            ).innerHTML =
                "Prediction: " + data.prediction;

        }

    </script>
</body>

</html>